<!DOCTYPE html >
    <html lang="es" ng-app="twitterApp">
    <head>
      <meta charset="utf-8">
      <title >stalker img</title>

<!--       <link href="css/font-awesome.css" rel="stylesheet">
 -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="libs/lumx/dist/lumx.css">
      <link rel="stylesheet" href="libs/mdi/css/materialdesignicons.css">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

       <!-- <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">  -->
    
      <script src="/libs/jquery/dist/jquery.min.js"></script>
      <script src="/libs/jquery-bridget/jquery.bridget.js"></script>
      <script src="/libs/get-style-property/get-style-property.js"></script>
      <script src="/libs/get-size/get-size.js"></script>
      <script src="/libs/eventEmitter/EventEmitter.js"></script>
      <script src="/libs/eventie/eventie.js"></script>
      <script src="/libs/doc-ready/doc-ready.js"></script>
      <script src="/libs/matches-selector/matches-selector.js"></script>
      <script src="/libs/outlayer/item.js"></script>
      <script src="/libs/outlayer/outlayer.js"></script>
      <script src="/libs/masonry/masonry.js"></script>
      <script src="/libs/imagesloaded/imagesloaded.js"></script>
      
      <script src="/libs/velocity/velocity.js"></script> 
      <script src="/libs/moment/min/moment-with-locales.js"></script>
      <script src="/libs/angular/angular.js"></script>
      <script src="/libs/lumx/dist/lumx.js"></script> 
      <script src="/libs/angular-masonry/angular-masonry.js"></script>


      <script src="../application.js"></script>
      <script src="../services/TwitterService.js"></script>
      <script src="../controllers/TwitterController.js"></script>


  <style type="text/css">



  </style>
</head>

<body ng-controller="TwitterController" ng-init="init()">
  <div flex-container="row" flex-gutter="24">
    <div flex-container="row">
      <div flex-item>
        
        <div class="card">
          
          <div class="card__img card__img--left" style="height: 160px">
            <img src="/images/1.jpg">
          </div>

          <div class="p+">
            <strong class="fs-headline display-block">Lorem Ipsum</strong>
            <div class="paragraph fs-body-1"><p>Lorem Ipsuasssssssssssssssssssssssssssssssssssssssssssssssm</p></div>
          </div>
      </div>
          
      </div>

  </div>
</div>  
</body>
<script type="text/javascript">
  
  App.init();
  
</script>
</html>  