<!DOCTYPE html >
    <html lang="es" ng-app="twitterApp">
    <head>
      <meta charset="utf-8">
      <title >Twitter images</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="libs/lumx/dist/lumx.css">
      <link rel="stylesheet" href="libs/mdi/css/materialdesignicons.css">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

      <script src="/libs/jquery/dist/jquery.min.js"></script>
      <script src="/libs/jquery-bridget/jquery.bridget.js"></script>
      <script src="/libs/get-style-property/get-style-property.js"></script>
      <script src="/libs/get-size/get-size.js"></script>
      <script src="/libs/eventEmitter/EventEmitter.js"></script>
      <script src="/libs/eventie/eventie.js"></script>
      <script src="/libs/doc-ready/doc-ready.js"></script>
      <script src="/libs/matches-selector/matches-selector.js"></script>
      <script src="/libs/outlayer/item.js"></script>
      <script src="/libs/outlayer/outlayer.js"></script>
      <script src="/libs/masonry/masonry.js"></script>
      <script src="/libs/imagesloaded/imagesloaded.js"></script>
      
      <script src="/libs/velocity/velocity.js"></script> 
      <script src="/libs/moment/min/moment-with-locales.js"></script>
      <script src="/libs/angular/angular.js"></script>
      <script src="/libs/lumx/dist/lumx.js"></script> 
      
     <script src="/libs/angular-masonry/angular-masonry.js"></script>

      <script type='text/javascript' src='/libs/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>

     <script src="/libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/libs/angular-cookies/angular-cookies.min.js"></script>

      <script src="../application.js"></script>
      <script src="../services/TwitterService.js"></script>
      <script src="../controllers/TwitterController.js"></script>
      <script src="../directives/ImageDirective.js"></script>


  <style type="text/css">

    html{
      background-color:white !important;
    }

    body{
     /* font-family: Arial,sans-serif;*/
      background-color:white !important;
    }
    .masonry-brick {
        margin: 0.5em;
        display: none;
    }

    .masonry-brick.loaded {
        display: block;
    }
    .masonry {
      margin: 0 auto;
      
    }
    .footer{
      position:fixed;
      left:0px;
      bottom:0px;
      height:30px;
      width:100%;
      background:white;
      margin-top: -2px; 
    }
    .text-tweet{
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }
   

  </style>
</head>

<body ng-controller="TwitterController" >

    <div style="background-color: white;  position: fixed; right: 0px;  left: 0px;  top: 0px; border-bottom: 1px solid #ddd;z-index: 1030;">
      <div class="card">
          <div class="toolbar">
              <lx-search-filter model="config.user" position="left" placeholder="@User" autocomplete="true"></lx-search-filter>
              <button class="btn btn--l btn--black btn--icon" ng-click="btnGetMediaTweet()" lx-ripple>
                  <i class="mdi mdi-apps" ></i>
              </button>
               <!-- <input type="hidden" name="_csrf" value="{{csrftoken}}"> -->
          </div>

      </div>
      <div id="progress"></div>
    </div>

    <div flex-container="row" infinite-scroll='scroll.loadMore()' infinite-scroll-disabled='scroll.busy' infinite-scroll-distance='2'> 
       <div masonry class="masonry" style="top:70px;margin-bottom: 30px"  masonry-options='{ "isFitWidth": true, "columnWidth": 120}' >
          <div class="masonry-brick" ng-repeat="brick in data.MediaTweets"> 
        
            <div class="card">
              <div class="card__img card__img"  ng-style="{ 'width' : '{{ brick.width  }}'}" > 
               
                <img style="cursor:pointer; margin-left: auto;margin-right: auto" ng-src="{{ brick.src }}" alt=""  ng-style="{ 'height' : '{{brick.height  }}'}" ng-click="imgOpenImage(this, brick)">
                <!-- <span class="fs-headline tc-white-2 display-block">{{brick.date}}</span> -->
                <div class="p+" >
                    <span class="fs-subhead tc-black-2 display-block" >{{brick.date}}</span>
                    <span class="fs-subhead tc-black-2" style="display:none;" >{{brick.id}}</span>
                    <div class="paragraph fs-body-1">
                        <p class="text-tweet" ng-bind-html="brick.text | tweetLinky:'_blank'"  >
                        </p>
                    </div>

                </div>

              </div>
            </div>
          </div>
        </div>  
 <!--      </div> -->

    <lx-dialog class="dialog dialog--l" id="test" auto-close="true" onclose="closingDialog()"   >
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                {{ImageSelected.date}}
            </span>
           
        </div>
    </div>

    <div class="dialog__content">
      <img style="margin-left: auto;margin-right: auto;" ng-src="{{ ImageSelected.src }}" alt=""   >
    </div>

    <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>OK</button>
    </div>
</lx-dialog>
  <div class="footer">
    <p style="margin-left:1%;">Created by <a href="https://twitter.com/bzsaldivar" target="_blank" style="text-decoration:none;" >Bruno Saldivar @bzsaldivar</a></p> 
  </div>   
</body>
  

<script type="text/javascript">

App.init();

</script>

</html>  