<div class="card__img card__img--top">
  <img ng-src="{{ item.src }}" alt="">
  <span class="fs-headline tc-white-2 display-block">{{brick.date}}</span>
  <div>
    <p class="text-tweet" >
      {{brick.text}}
    </p>
  </div>
</div>